<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Museo Pomezia</title>
<link rel="stylesheet" href="/css/tabelle.css">
</head>
<body>
	<h1 align="center">Opere di:</h1>
	<h1 th:text="${autore.nome} +' '+  ${autore.cognome}" align="center"></h1>


	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Titolo</th>
					<th>Anno</th>
					<th>Tecnica</th>
					<th>Dimensione</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="opera : ${opereAutore}">
					<td th:text="${opera.titolo}"></td>
					<td th:text="${opera.anno}"></td>
					<td th:text="${opera.tecnica}"></td>
					<td th:text="${opera.dimensione}"></td>
				</tr>

			</tbody>
		</table>
		<h3 class="header__menu__item">
		<a href="/home">Home</a>
	</h3>
	</div>
	

</body>
</html>