<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Museo Pomezia</title>
<link rel="stylesheet" href="/css/ricerca.css">
</head>
<body>

	<ul>
		<li><span><a class="log" href="/ricercaOpera">Ricerca per Opera</a></span></li>
		<li><span><a class="log" href="/ricercaAnno">Ricerca Opera Per Anno</a></span></li>
		<li><span><a class="log" href="/ricercaArtista">Ricerca Opera Per Artista</a></span></li>
		
	</ul>


</body>
</html>